body{
    font-size: 18px;
    margin: auto;
    width: 100%;
    font-family: 'Roboto';
    background-color: rgb(253, 250, 253);

}
.container{
    margin-left: auto;
    margin-right: auto;
    
   
}


header{
    height: 100px;
    background-color: #F3E9F1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4%;
    padding-right: 4%;
}
.logo{
    width: 150px;
    height: 68px;
}


.card{
    margin-bottom: 3%;
    padding-bottom: 1%;
}

.col-md-8{
    width: 100%;
    
}

.card-body{
    background-color: #F3E9F1;
    
}

.card-body p:nth-child(3){
    font-weight: bold;
}

.product-img{
    width: 350px;
    height: 227px;
}
.card-body a:hover{
    background-color: rgba(0, 0, 0, 0.801);
    border: 0 rgba(0, 0, 0, 0.836) solid;

}
.teddyimage{
    width: 90%;
    height: 90%;
}

.products
{
    background-color: #F3E9F1;
    padding: 10px;
    padding-top: 25px;
    margin-bottom: 20px;
    width: 28%;
    height: 50%;
}

.article{
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
    margin: auto;
    display: flex; 
}

.article{
    background-color: #F3E9F1;
    padding: 20px;
    margin-bottom: 20px;
    width: 65%;
    height: 50%;

}

#td{
    margin-top: 4%;
    display: grid;
  grid-template-columns: repeat(auto-fill, 340px);
  grid-column-gap: 10px;
  grid-row-gap: 1em;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#td .card{
  align-self: center;
  justify-self: center;
}

.linkcart{
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: flex;
}

.label{
    padding-right: 30px;
}

#choice{
    margin-top: 15px;
}

#productdisplay{
margin-top: 3%;
margin-bottom: 5%;
}

footer{
    background-color: #F3E9F1;
    padding-bottom:2% ;
    display: flex;
    justify-content:space-around ;
    padding-top: 3%;
    margin-top: 4%;
    padding: 4%;
   
}
footer ul {
    list-style: none;
    padding: 0;
    margin-left: 0.1%;
    width: 100%;
}

footer ul li a{
    text-decoration: none;
    color: black;
}

footer ul li a:hover{
    color: black;
}

.card-title{
    text-align: center;
    margin-bottom: 5%;
}

.colorChoice{
    margin-bottom: 5%;
}
#choice{
    padding: 5px;
    font-size: 15px;
}

/* PAGE DU PANIER */

.product-header{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px black solid;
}

.fa-shopping-bag{
    font-size: 40px;
    margin-right: 6px;
}
.cart span{
    color:#eb6ec5;
    position: relative;
    right:-23px;
    top: 16px;
    font-weight:bold;
}
.cart p{
    margin-top: 18px;
}

.cart a:hover {
    text-decoration: none;
    color: black;

}

.titleitems{
    display: flex;
    justify-content: space-around;
    border: 1px #000000 solid;
    border-bottom: none;
    align-items: center;
    background-color: #FFFFFF;
    width: 80%;
}

.titleitems h6:nth-child(2){
    margin-left: 10%;
}
.titleitems h6:nth-child(3){
    margin-left: 10%;
}

.items{
    display: flex;
    text-align: center;
    align-items: center;
    border: 1px black solid;
    background-color: #FFFFFF;
    width: 80%;
}

.items span:nth-child(1){
text-align: center;
align-items: center;
    width: 30%;
}

.items span:nth-child(2){

    width: 25%;
    margin-left: 10%;
}

.items span:nth-child(3){

    width: 30%;
    margin-left: 10%;
}

.elements{
    display: flex;
}

#delete{
margin-left: 30%;
color: black;
border: transparent;
background-color:rgb(243, 233, 241);
outline: none;
padding: 5px;
}

#delete:hover{
    background-color:rgb(223, 206, 220) ;
}

.fa-times-circle{
    color: red;
}

.products-container{
    display: flex;
    
    margin-top: 3%;
    margin-bottom: 3%; 
}

.contains{
    margin-left: 10%;
    background-color: #F3E9F1;
    border:35px #F3E9F1 solid;
    border-radius: 20px;
    width: 90%;
    

}

.teddies{
    width: 100%;
    height: 50%;
    background-color: #F3E9F1;
    border:35px #F3E9F1 solid;
    border-radius: 20px;
    text-align: center;
    
    
}

.basketTotalContainer{
    text-align: start;
    margin-top: 4%;
}

.template{
    width: 100%;
     
}
.template h4{
    margin-bottom: 6%;
}

#form h4{
    margin-bottom: 6%;
}

.messagecontainer{

    width: 47%;
    text-align: center;
    margin: auto;
    margin-top: 4%;
    padding-top: 5%;
    
}

.linkOrinoco{
color: black;
}
.color-container{
    background-color: #faf4f9;
    padding-bottom: 5%;
    border-radius: 4%;
    
}

.col-md-4 img{
width: 100%;
height: 100%;
}
.imgtd{
    width: 100%;
}

.mb-3{
    margin: auto;
}


@media (max-width: 768px) {
    .products-container{
        flex-wrap: wrap;
    }
    .contains{
        margin-left: 0;
        margin: auto;
        margin-top: 3%;
    }
    .teddies{
        width: 90%;
        margin: auto;
    }
  
 }

 @media (max-width: 401px){
     footer {
         display: block;     
 }


 }

 @media (max-width: 642px){
   
footer ul:nth-child(2) {
   
   width: 90%;
}

}